* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.container {
  padding-top: 20px;
  background-color: rgb(32, 34, 37);
  height: 100vh;
  display: grid;
  grid-template:
    'leftAsideServers serverName channelHeader channelHeader' 50px
    'leftAsideServers serverChannels mainChat rightAsideUsers' 1fr
    'leftAsideServers userProfile chatBox rightAsideUsers' 50px / 70px 240px minmax(
      300px,
      1fr
    )
    240px;
  overflow: hidden;
}

.leftAsideServers {
  grid-area: leftAsideServers;
  background-color: rgb(32, 34, 37);
}

.serverList {
  display: grid;
  place-items: center;
  gap: 10px;
  margin-top: 10px;
}

.serverIcon {
  border: 1px solid white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.serverName {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: serverName;
  background-color: rgb(47, 49, 54);
  border-top-left-radius: 20px;
  padding-right: 20px;
  border-bottom: 1px solid rgb(34, 36, 39);
}

.serverNameText {
  color: white;
  font-weight: bold;
  padding-left: 20px;
}

.serverChannels {
  padding: 10px;
  grid-area: serverChannels;
  background-color: rgb(47, 49, 54);
  overflow: scroll;
}

.serverChannels::-webkit-scrollbar {
  display: none;
}

.channelName {
  color: rgb(150, 152, 157);
  background-color: rgb(65, 69, 76);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

.channelHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: channelHeader;
  padding: 0 20px;
  border-bottom: 1px solid rgb(34, 36, 39);
  background-color: rgb(54, 57, 63);
  width: 100%;
}

.channelNameHeader {
  color: white;
}

.channelHeaderContainerRight {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
}

.rightAsideUsers {
  display: flex;
  flex-direction: column;
  grid-area: rightAsideUsers;
  background-color: rgb(47, 49, 54);
  gap: 30px;
  padding-top: 10px;
  padding-left: 10px;
  overflow: scroll;
}

.rightAsideUsers::-webkit-scrollbar {
  display: none;
}

.icon {
  display: inline-block;
  border: 1px solid white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 0;
  color: white;
}

.teachers,
.students,
.onlineUsers {
  color: rgb(150, 152, 157);
}

.userProfile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-right: 20px;
  grid-area: userProfile;
  background-color: rgb(41, 43, 47);
}

.user-profile-area-left {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
  color: white;
}

.user-profile-area-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  gap: 10px;
}

.mainChat {
  display: flex;
  flex-direction: column-reverse;
  grid-area: mainChat;
  background-color: rgb(54, 57, 63);
  overflow: scroll;
  padding: 0px 10px 20px 10px;
}

.mainChat::-webkit-scrollbar:horizontal {
  display: none;
}

.chat-message {
  display: grid;
  line-height: 2;
  grid-template-columns: 50px 1fr;
  color: rgb(214, 215, 217);
  padding-top: 10px;
}

.chat-message .icon {
  margin-top: 10px;
}

.chatBox {
  position: relative;
  grid-area: chatBox;
  background-color: rgb(54, 57, 63);
}

.chat-type-area {
  display: grid;
  place-items: center left;
  position: absolute;
  top: -20px;
  right: 0;
  left: 0;
  padding-left: 20px;
  color: rgb(150, 152, 157);
  background-color: rgb(64, 68, 75);
  border-radius: 10px;
  margin: 0 20px;
  height: 50px;
}
